<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>l8r.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>01439E481C03BE58000CE85F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F13367B31C49B478005C84B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1DD248D1C3D9E2900FD10DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1DD24A21C3DC90C00FD10DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
