# Xcode
.DS_Store?
.DS_Store
*.pbxuser
!default.pbxuser
*.xccheckout
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
Pods
target
*.iws
.project
*.xccheckout
.settings
.DS_Store
*/External/builds/*
*/External/installed/*
*/.idea/
.idea/
logs
tmp
*.o
*.so
*.a
*~
*.dSYM
.sconsign.dblite
.mymetadata
build
out
.idea
.blend1
overlays
thumbs.db
Icon?
Thumbs.db
